/* NEW MAC BOOK PRO 13" */

@media (min-width: 1440px) {

  .rootConteneurLogo img {
    width: 10%;
    position: fixed;
    bottom: 98.5%;
    right: 144%;
  }

  .containerGame.animated {
    animation-name: zoom;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.6);
    }
  }
}

/* MAC BOOK PRO 15" */

@media (min-width: 1680px) {

  .rootConteneurLogo img {
    width: 10%;
    position: fixed;
    bottom: 101.2%;
    right: 142%;
  }

  .containerGame.animated {
    animation-name: zoom;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.8);
    }
  }
}

/*  IPAD */

@media (max-width: 1024px) {

  body {
    background-image: url("../images/neonIpad.jpg");
  }

  .tape {
    margin: 40% 36%;
    animation: tapeAnimation 3s ease;
  }

  .rootConteneurLogo img {
    width: 10%;
    position: fixed;
    bottom: 120%;
    right: 128%;
  }

  .containerGame.animated {
    animation-name: zoom;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }
}