@media (min-width: 1280px) { 
    .containerGame.animated
{
  animation-name: zoom;
  animation-duration: 0.6s;
  animation-fill-mode:forwards;
}
@keyframes zoom {
    0% {
      transform: scale(1);
    }
   100% {
      transform: scale(1.5);
  }
  }
}